{% extends 'base.html' %}

{% block content %}
    <form action='/{{ feed.id }}/' id='article' method='POST'>
        {% csrf_token %}
        <p>
            제목<br/>
            <input type='text' name='title' value="{{feed.title}}" required /> <br/>
        </p>
        <p>
            작성자<br/>
            <input type='text' name='writer' value="{{feed.writer}}" required /> 기자 <br/>
        </p>
        <p>
            이미지<br/>
            <input type="file" name="img" accept="image/x-png,image/gif,image/jpeg" /> <br/>
        </p>
        <p>
            내용<br/>
            <textarea name='content' form='article' cols='100' rows='20' required >{{feed.content}}</textarea> <br/>
        </p>
        <p>
            카테고리<br/>
            <input type='radio' id='cat1' name='category' value='연예' required> 
            <label for='cat1'>연예</label>
            <input type='radio' id='cat2' name='category' value='스포츠' required> 
            <label for='cat2'>스포츠</label>
            <input type='radio' id='cat3' name='category' value='정치' required> 
            <label for='cat3'>정치</label>
            <input type='radio' id='cat4' name='category' value='경제' required> 
            <label for='cat4'>경제</label>
            <input type='radio' id='cat5' name='category' value='사회' required> 
            <label for='cat5'>사회</label>
            <input type='radio' id='cat6' name='category' value='생활/문화' required> 
            <label for='cat6'>생활/문화</label>
            <input type='radio' id='cat7' name='category' value='세계' required> 
            <label for='cat7'>세계</label>
            <input type='radio' id='cat8' name='category' value='IT/과학' required> 
            <label for='cat8'>IT/과학</label>
        </p>
        <p>
            비밀번호<br/>
            * 비밀번호를 잊어버리면 글 수정이 불가합니다. 비밀번호를 꼭 기억해주세요.<br/>
            <input type='password' name='password' required />
        </p>
        <input type='submit' value="수정하기" />
        <button><a href = '/{{ feed.id }}/manage/delete' onclick='return confirm("정말 삭제하실?")' style='text-decoration: none; color: #555555;'>
        삭제하기
        </a></button>

    </form>
{% endblock content %}