{% extends 'base.html' %}

{% block content %}
<div class = 'offset-down'>
{% for feed in feeds %}
<div class = 'deco-none listing'>
    <a href = '/article/{{ feed.id }}' >
        <div class='h-100 hover'>
            <div class='deco-none flex w-100 h-100'>
                <div class = 'listing-title'>
                    [{{ feed.category}}] {{ feed.title }}
                    <!--수정필요: 이미지-->
                    {% comment %} <p> {{ feed.img }}</p> {% endcomment %}
                    {% comment %} <p> {{ feed.content }}</p> {% endcomment %}
                </div class = ''>
                <div>
                    <img src="http://www.balletnmodel.com/data/editor/1804/ed2e758db4d3f98eb4014ac30012ef0a_1524036326_18.jpg" alt="" height="60" width="80" />
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor%}
</div>
{% if feeds.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{feeds.previous_page_number}}">Previous</a>
{% endif %}

<span>{{feeds.number}}</span>
<span>of</span>
<span>{{feeds.paginator.num_pages}}</span>

{% if feeds.has_next %}
<a href="?page={{feeds.next_page_number}}">Next</a>
<a href="?page={{feeds.paginator.num_pages}}">Last</a>
{% endif %}

{% endblock content %}