{% extends 'base.html' %}

{% block content %}
{% for feed in feeds %}
    <hr>
    <a href = 'article/{{ feed.id }}' >
    <div class='deco-none'>
    [{{ feed.category}}] {{ feed.title }}

    <!--수정필요: 이미지-->
    {% comment %} <p> {{ feed.img }}</p> {% endcomment %}
    {% comment %} <p> {{ feed.content }}</p> {% endcomment %}
    </div>
    </a>
{% endfor%}

{% if feeds.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{feeds.previous_page_number}}">Previous</a>
{% endif %}

<span>{{feeds.number}}</span>
<span>of</span>
<span>{{feeds.paginator.num_pages}}</span>

{% if feeds.has_next %}
<a href="?page={{feeds.next_page_number}}">Next</a>
<a href="?page={{feeds.paginator.num_pages}}">Last</a>
{% endif %}

{% endblock content %}