<!-- feedpage/templates/base.html -->
<!DOCTYPE html>
{% load staticfiles %} <!-- 파일 맨 상단에 추가 -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'feeds/style.css' %}" />        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Article</title>
    </head>
    <body>
    <header class="header shadow">
        <div class="flex">
            <div class="mobile-only hover">
                <i id="hamburger" class="material-icons deco-none close-btn hover">menu</i>
            </div>
            <div id="sidebar" class="fix hover none">
                <i class="material-icons deco-none close-btn">close</i>
                <div class="mobile-cat-wrap">
                    <div class="mobile-cat deco-none">
                        <a href="{% url 'index' %}" class="deco-none">전체 기사</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/1' class="deco-none">연예</a> 
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/2' class="deco-none">스포츠</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/3' class="deco-none">정치</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/4' class="deco-none">경제</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/5' class="deco-none">사회</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/6' class="deco-none">생활/문화</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/7' class="deco-none">세계</a>
                    </div>
                    <div class="mobile-cat deco-none">
                        <a href='/8' class="deco-none">IT/과학</a>
                    </div>
                </div>
            </div>
            <div class="w-90 m-auto">
                <div class="abs-left">
                    <a href='{% url "new" %}'>기사작성하기 </a>
                </div>
                <div class="abs-right">
                    <form action="/" method="get" class="form-inline my-2 my-lg-0 w-100">
                        <input type="text" name="keyword" value="{{ keyword }}" placeholder="기사찾기" class="form-control w-auto mr-sm-2" >
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">검색</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <div class="pc-only pc-cat-wrap deco-none"> <!-- class="pc-only"-->
                <div class="pc-cat deco-none">
                    <a href="{% url 'index' %}" class="deco-none">전체 기사</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/1' class="deco-none">연예</a> 
                </div>
                <div class="pc-cat deco-none">
                    <a href='/2' class="deco-none">스포츠</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/3' class="deco-none">정치</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/4' class="deco-none">경제</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/5' class="deco-none">사회</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/6' class="deco-none">생활/문화</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/7' class="deco-none">세계</a>
                </div>
                <div class="pc-cat deco-none">
                    <a href='/8' class="deco-none">IT/과학</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        Made by Hyunsang Han. All right reserved.
    </footer>
    <script src="{% static 'feeds/myjs.js' %}"></script>
    </body>
</html>