<!-- feedpage/templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Article</title>
    </head>
    <body>
    <header style="background-color: yellow; color: white;">
        <span style="display: flex;">
            <p><a href='{% url "new" %}'>기사작성하기</a></p>
            <form action="/" method="get">
                <input type="text" name="keyword" value="{{ keyword }}">
                <input type="submit" value="검색">
            </form>
        </span>
        <span>
        <a href='{% url "index" %}'>전체</a> &nbsp
        <a href='/1'>연예</a> &nbsp
        <a href='/2'>스포츠</a> &nbsp
        <a href='/3'>정치</a> &nbsp
        <a href='/4'>경제</a> &nbsp
        <a href='/5'>사회</a> &nbsp
        <a href='/6'>생활/문화</a> &nbsp
        <a href='/7'>세계</a> &nbsp
        <a href='/8'>IT/과학</a>
        </span>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        Made by Hyunsang Han. All right reserved.
    </footer>
    </body>
</html>